<h2>
  <span id="vote_score"> <!-- Id unique nécéssaire pour la mise a jour automatique du score en ajax-->
    Score: <%= @story.votes.size %> <!-- Calcul du nombre de votes avec la méthode .size -->
  </span>
  <%= @story.name %>
</h2> 

<ul id="vote_history"><!-- On va lister tous les votes dans une liste non ordonnée-->
  <% if @story.votes.empty? %> <!-- test si une histoire n'a aucun vote associé-->
    <em>Aucun votes pour le moment</em>
  <% else %>
    <%= render :partial => 'votes/vote', :collection => @story.votes.latest %><!-- on crée une page partielle pour chacun des votes (via l'option :collection -->
  <% end %> 
</ul> 

<p>
  <%= @story.descriptions %>
</p>

<p class="submitted_by">
  Submitted by : 
  <span><%= @story.user.login %></span>
</p>

<p>
  <%= link_to @story.link, @story.link %>
</p> 
<% if logged_in? %>
<div id="vote_form"> 
  <% form_tag story_votes_path(@story), :remote => true  do %> <!-- form__tag :remote=>true crée l'interaction ajax, traitement identique a un formulaire, attention spécifique à rails 3, voir http://www.simonecarletti.com/blog/2010/06/unobtrusive-javascript-in-rails-3/ -->
    <%= submit_tag 'Voter' %> 
  <% end %> 
</div>
<%else%>
  <p>
    <em>
      Vous pourriez voter si vous étiez <%= link_to 'connecté', new_session_path %> !
    </em>
  </p>
<%end%>
